body {
    background-color: #D6F0BB;
}

.page-header {
    color: green;
    background-color: green;
    padding: 20px 20px 20px 40px;
    text-align: center;
}

.date {
    color:green;
}

.hero{
    font-family: 'Khula', sans-serif;
    line-height: 15px;
    letter-spacing: -1px;
}

a:link {
    text-decoration: none;
}

a:hover {
 color: grey;
}

.arpana {
    background: no-repeat;
    background-size: cover;
}

.htext {
    font-family: 'Lobster', cursive;
    letter-spacing: 3px;
}